<mat-nav-list>
    <div
        style="font-weight: lighter;padding-left: 10px;margin: 0px!important;margin-bottom: 10px!important;margin-top: 10px!important;color: grey;font-size:larger;">
        Management</div>
    <a mat-list-item routerLink="/">
        <mat-icon style="padding-right: 10px;">home</mat-icon> Home
    </a>
    <a mat-list-item routerLink="/">
        <mat-icon style="padding-right: 10px;">home</mat-icon> Home
    </a>
    <a mat-list-item routerLink="/">
        <mat-icon style="padding-right: 10px;">home</mat-icon> Home
    </a>
    <a mat-list-item routerLink="/">
        <mat-icon style="padding-right: 10px;">home</mat-icon> Home
    </a>
    <div
        style="font-weight: lighter;padding-left: 10px;margin: 0px!important;margin-bottom: 10px!important;margin-top: 10px!important;color: grey;font-size:larger;">
        Management</div>
    <a mat-list-item routerLink="/">
        <mat-icon style="padding-right: 10px;">home</mat-icon> Home
    </a>
    <a mat-list-item routerLink="/">
        <mat-icon style="padding-right: 10px;">home</mat-icon> Home
    </a>
    <a mat-list-item routerLink="/">
        <mat-icon style="padding-right: 10px;">home</mat-icon> Home
    </a>
    <a mat-list-item routerLink="/">
        <mat-icon style="padding-right: 10px;">home</mat-icon> Home
    </a>
</mat-nav-list>